In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib
import pathlib
import numpy as np
import time
from tqdm import tqdm_notebook

sns.set(color_codes=True)
pd.set_option('display.max_columns', None)

## Atributos x

 . | Atributo                  | Descripción          | Tipo   | Ejemplo
---|:-------------------------:|----------------------|:------:|--------
 1 | **fecha_dato**            | Fecha                | Fecha  | `2016-06-28`
 2 | **ncodpers**              | ID                   | Int    | 808607
 3 | **ind_empleado**          | Es empleado?         | Categ  | ['N' 'B' nan 'A' 'F']
 4 | **pais_residencia**       | País                 | Categ  | ['ES' 'BO' 'CH' ...]
 5 | **sexo**                  | Varón o Hembra       | Str    | ['H' 'V' nan]
 6 | **age**                   | Edad                 | Int    | 44
 7 | **fecha_alta**            | Fecha de alta        | Fecha  | `2016-06-28`
 8 | **ind_nuevo**             | Nuevo cliente        | Bool   | [0, 1, -99]
 9 | **antiguedad**            | Antiguedad en meses  | Int    | 33
10 | **indrel**                | .                    | Bool   | [0, 1, -99]
11 | **ult_fec_cli_1t**        | Última fecha cliente | Fecha  | `2016-06-28`
12 | **indrel_1mes**           | .                    | Categ  | 1 , 2, 3, 4, P
13 | **tiprel_1mes**           | .                    | Categ  | ['I', 'A', 'P', 'R', 'N', -99]
14 | **indresi**               | Residente (S/N)      | Bool   | ['S', 'N', -99]
15 | **indext**                | Extranjero (S/N)     | Bool   | ['S', 'N', -99]
16 | **conyuemp**              | Esposo/a de empleado | Bool   | ['S', 'N', -99]
17 | **canal_entrada**         | Canal de entrada     | Categ  | KFC
18 | **indfall**               | Fallecido (S/N)      | Bool   | ['S', 'N', -99]
19 | **tipodom**               | Tipo domicilio       | Inútil | [1, -99]
20 | **cod_prov**              | Codigo provincia     | Categ  | 3
21 | **nomprov**               | Nombre provincia     | Inútil | "ALICANTE"
22 | **ind_actividad_cliente** | Activo (S/N)         | Bool   | [0, 1, -99]
23 | **renta**                 | Renta o ingresos     | Float  | 203198.85
24 | **segmento**              | Tipo de segmento     | Categ  | TOP, PARTIC, UNIVER

## Atributos y

In [2]:
path     = pathlib.Path("E:/Datasets/Kaggle/santander-product-recommendation")
df_train = pd.read_csv(path / 'train_ver2.csv')
df_test  = pd.read_csv(path / 'test_ver2.csv')
df_subm  = pd.read_csv(path / 'sample_submission.csv')

print("Train:", df_train.shape)
print("Test: ", df_test.shape)

C:\Users\Javi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Javi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Train: (13647309, 48)
Test:  (929615, 24)

In [3]:
df_train.head(10)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5,2015-01-28,1050615,N,ES,H,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,45.0,TOLEDO,0.0,22220.04,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
6,2015-01-28,1050616,N,ES,H,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,24.0,LEON,0.0,295590.36,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
7,2015-01-28,1050617,N,ES,H,23,2012-08-10,0.0,35,1.0,NaN,1,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,113316.66,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
8,2015-01-28,1050619,N,ES,H,24,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,20.0,GIPUZKOA,0.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
9,2015-01-28,1050620,N,ES,H,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,10.0,CACERES,0.0,113194.98,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

# Clean data

#### Filter data

In [4]:
def filter_data(df):
    df = df[df['ind_nuevo'] == 0]
    df = df[df['antiguedad'] != -999999]
    df = df[df['indrel']  == 1]
    df = df[df['indresi'] == 'S']
    df = df[df['indfall'] == 'N']
    df = df[df['tipodom'] == 1]
    df = df[df['ind_empleado'] == 'N']
    df = df[df['pais_residencia'] == 'ES']     # País: España
    df = df[df['indrel_1mes'] == 1]
    df = df[df['tiprel_1mes'] == ('A' or 'I')] 
    df = df[df['indext'] == 'N']               # Extranjero: No
    
filter_data(df_train)

#### Drop unneccessary column

In [5]:
drop_column = ['ind_nuevo','indrel','indresi','indfall','tipodom','ind_empleado','pais_residencia','indrel_1mes','indext','conyuemp','fecha_alta','tiprel_1mes']

df_train.drop(drop_column, axis=1, inplace = True)
df_test.drop(drop_column, axis=1, inplace = True)

#### Add missing income (median)

In [7]:
df_test["renta"]   = pd.to_numeric(df_test["renta"], errors="coerce")
unique_prov = df_test[df_test.cod_prov.notnull()].cod_prov.unique()
grouped = df_test.groupby("cod_prov")["renta"].median()

def impute_renta(df):
    df["renta"]   = pd.to_numeric(df["renta"], errors="coerce")       
    for cod in unique_prov:
        df.loc[df['cod_prov']==cod,['renta']] = df.loc[df['cod_prov']==cod,['renta']].fillna({'renta':grouped[cod]}).values
    df.renta.fillna(df_test["renta"].median(), inplace=True)
    
impute_renta(df_train)
impute_renta(df_test)

In [8]:
def drop_na(df):
    df.dropna(axis = 0, subset = ['ind_actividad_cliente'], inplace = True)
    
drop_na(df_train)

#### Convert and make dummy

In [9]:
# These column are categories feature, I'll transform them using get_dummy
dummy_col = ['sexo','canal_entrada','cod_prov','segmento']
dummy_col_select = ['canal_entrada','cod_prov']

In [2]:
demographic_cols = ['ncodpers','fecha_alta','ind_empleado','pais_residencia','sexo','age','ind_nuevo','antiguedad','indrel',
 'indrel_1mes','tiprel_1mes','indresi','indext','conyuemp','canal_entrada','indfall',
 'tipodom','cod_prov','ind_actividad_cliente','renta','segmento']

notuse = ["ult_fec_cli_1t","nomprov",'fecha_dato']

In [4]:
len(demographic_cols) + 3

24

In [2]:
x_cols = ['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia',
          'sexo', 'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
          'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi',
          'indext', 'conyuemp', 'canal_entrada', 'indfall', 'tipodom',
          'cod_prov', 'nomprov', 'ind_actividad_cliente', 'renta', 'segmento']

used = ['ncodpers','fecha_alta','ind_empleado','pais_residencia','sexo','age','ind_nuevo','antiguedad','indrel',
 'indrel_1mes','tiprel_1mes','indresi','indext','conyuemp','canal_entrada','indfall',
 'tipodom','cod_prov','ind_actividad_cliente','renta','segmento']

not_used = ["ult_fec_cli_1t","nomprov",'fecha_dato']

y_cols = [
 'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',  'ind_cder_fin_ult1',
 'ind_cno_fin_ult1',  'ind_ctju_fin_ult1', 'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1',
 'ind_ctpp_fin_ult1', 'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
 'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',  'ind_plan_fin_ult1',
 'ind_pres_fin_ult1', 'ind_reca_fin_ult1', 'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1',
 'ind_viv_fin_ult1',  'ind_nomina_ult1',   'ind_nom_pens_ult1', 'ind_recibo_ult1']

len(x_cols), len(y_cols)

(24, 24)

In [7]:
["ncodpers"] + y_cols

['ncodpers',
 'ind_ahor_fin_ult1',
 'ind_aval_fin_ult1',
 'ind_cco_fin_ult1',
 'ind_cder_fin_ult1',
 'ind_cno_fin_ult1',
 'ind_ctju_fin_ult1',
 'ind_ctma_fin_ult1',
 'ind_ctop_fin_ult1',
 'ind_ctpp_fin_ult1',
 'ind_deco_fin_ult1',
 'ind_deme_fin_ult1',
 'ind_dela_fin_ult1',
 'ind_ecue_fin_ult1',
 'ind_fond_fin_ult1',
 'ind_hip_fin_ult1',
 'ind_plan_fin_ult1',
 'ind_pres_fin_ult1',
 'ind_reca_fin_ult1',
 'ind_tjcr_fin_ult1',
 'ind_valo_fin_ult1',
 'ind_viv_fin_ult1',
 'ind_nomina_ult1',
 'ind_nom_pens_ult1',
 'ind_recibo_ult1']

In [4]:
path = pathlib.Path("E:/Datasets/Kaggle/santander-product-recommendation")
df_train2 = pd.read_csv(path / 'train_ver2.csv', usecols=["ncodpers"])

In [5]:
df_train2.shape

(13647309, 1)

In [6]:
df_train2 = df_train2.drop_duplicates(['ncodpers'], keep='last')
df_train2.shape

(956645, 1)